<p>Nama saya fauzan<b> Saya lahir di Bima</b> , <i>Pada tanggal 27 juli 2002</i> ,
<u> Saya sekarang mahasiswa di Universitas ahmad dahlan </u> , <b> prodi teknik informatika , <i> kelas H</i>,
Saya hobbi bernyanyi<b><i><u>berenang dan travelling</u></i></b>saya ingin menjadi seorang prorammer</p> 
