<p>perkenalkan,<br?>
nama saya fauzan Ini adalah<br/>homepage pertama saya<br/>karena saya baru belajar tentang cara<br/>membuat.</p>

<p>homepage ini masih dalam tahap pengembangan, oleh karena itu tampilnnya masih terlalu sederhana.</p>