<font face="Times New Roman">Homepage ini masih dalam tahap pengembangan</font><br/>
<font face="Arial">Homepage ini masih dalam tahap pengembangan</font><br/>
<font face="Courier New">Homepage ini masih dalam tahap pengembangan</font><br/>
<font face="Verdana">Homepage ini masih dalam tahap pengembangan</font><br/>